/* PARAGRAPH P STYLING */

.p-style {
  color:white;
  justify-content:center;
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-size: 25px;
  margin-top: 0px;
  font-family: 'Fredoka One', cursive;
}


* {
  box-sizing: border-box;
}

/* HTML DOM */

html {
  min-height: 150vh;
}

/* BODY */

body {
      margin: 0;
      background:repeating-linear-gradient(rgb(168, 168, 223), rgb(231, 231, 131));
    }

/* GAME TITLE & GAME DATA */

.game-title {
  color:rgb(12, 12, 12);
  font-family: 'Creepster', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
}

.game-data-container {
  grid-column: 1 / -1;
  display:flex;
  justify-content: space-between;
  margin-left: 400px;
  margin-right: 400px;
  border: 3px solid rgb(17, 16, 16);
  background: repeating-linear-gradient(rgb(153, 142, 142), rgb(12, 12, 12));
  border-radius: 5px;
}

.game-data {
  font-family: 'Francois One', sans-serif;
  color:rgb(255, 101, 30);
  font-size: 2em;
}

section {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
}

.flip-card {
  position: relative;
  background: repeating-linear-gradient(rgb(12, 12, 12), rgb(168, 23, 67));
  height: 175px;
  width: 145px;
  perspective: 1000px;
  border: 1px solid #080808;  
  
}
.flip-card:hover {
  position: relative;
  background:black;
  height: 175px;
  width: 145px;
  perspective: 1000px;
  border: 1px solid #080808;
  opacity: 0.5;

  
}
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -225px;
  backface-visibility: hidden;
  flex-direction: column;
  transform: rotateY(180deg);
}


.img-animal {
  display: flex;
  position: absolute;
  width: 148px;
  height: 180px;
  margin-bottom: 10px;
  margin-top: -27px;
  margin-left: -0.9px;
}

/* BORDER RADIUS */

.img-animal, .flip-card {
  border-radius: 10px;
}


.flip-card-front {
  position: relative;
  display:flex;
  visibility: visible;
  color: rgb(252, 250, 250);
  justify-content: center;
  font-family: 'Chewy', cursive;
  margin-top: 50%;
  font-size: 22px;
}

.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

}

.flip-front-back {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8;
  transform-style:preserve-3d;
}
.flip-card:hover .flip-card-back {
  transform: rotateY(180deg);
}

.clicked .flip-front-back {
  transform: rotateY(180deg);
}
